.post {
  width: 550px;
  margin: 30px 40px 50px 40px;
}

.post__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.post__headerAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  gap: 10px;
}

.post__headerAuthor > span {
  color: gray;
  font-size: 15px;
}

.post__image > img {
  width: 100%;
  border-radius: 6px;
  border: 0.6px solid #3f3f3f;
}

.post__footerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}

.post__icon {
  padding: 5px;
}

.post__icon:hover {
  cursor: pointer;
  color: #3f3f3f;
}

.likes {
  font-size: 15px;
  font-weight: bolder;
}
